.manage-clinic-container {
    padding: 0 15px;

    .ms-title {
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
    }

    .add-new-clinic {
        .btn-create-clinic {
            border: none;
            outline: none;
            padding: 8px 5px;
            background: rgb(78, 203, 234);
            min-width: 75px;
            border-radius: 3px;
            margin: 15px 0;
            color: white;
        }

        .btn-edit-clinic {
            border: none;
            outline: none;
            padding: 8px 5px;
            background: orange;
            min-width: 75px;
            border-radius: 3px;
            margin: 15px 0;
            color: white;
        }
    }


}