#TableManageSpecialties {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#TableManageSpecialties td,
#TableManageSpecialties th {
    border: 1px solid #ddd;
    padding: 8px;
}

#TableManageSpecialties tr:nth-child(even) {
    background-color: #f2f2f2;
}

#TableManageSpecialties tr:hover {
    background-color: #ddd;
}

#TableManageSpecialties th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}